@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

* {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

:root {
  --coovitel-blue: #173C6E;
  --coovitel-navy: #131739;
  --coovitel-dark: #131739;
  --coovitel-gold: #EBC302;
  --coovitel-gold-dark: #EBC302;
  --coovitel-light: #F7F0FF;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
